<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Abreveacute</string>
		<string>Abrevegrave</string>
		<string>Abrevetilde</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflextilde</string>
		<string>Adieresis</string>
		<string>Adieresismacron</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>Abrevedotbelow</string>
		<string>Abrevehookabove</string>
		<string>Acircumflexdotbelow</string>
		<string>Acircumflexhookabove</string>
		<string>Adotbelow</string>
		<string>A-cy</string>
		<string>El-cy.loclBGR</string>
		<string>Alpha</string>
		<string>Lambda</string>
		<string>Alphatonos</string>
	</array>
	<key>public.kern1.B</key>
	<array>
		<string>B</string>
		<string>Bdotbelow</string>
		<string>Ve-cy</string>
		<string>Ze-cy</string>
		<string>Beta</string>
		<string>three</string>
		<string>three.osf</string>
		<string>baht</string>
	</array>
	<key>public.kern1.Becyrillic</key>
	<array>
		<string>Be-cy</string>
	</array>
	<key>public.kern1.C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>Es-cy</string>
		<string>E-cy</string>
	</array>
	<key>public.kern1.D</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Ddotbelow</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocaron</string>
		<string>Ocircumflex</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflextilde</string>
		<string>Odieresis</string>
		<string>Odieresismacron</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Omacronacute</string>
		<string>Omacrongrave</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>Otildeacute</string>
		<string>Q</string>
		<string>Q.ss03</string>
		<string>Dcircumflexbelow</string>
		<string>Dlinebelow</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ocircumflexhookabove</string>
		<string>Odotbelow</string>
		<string>Ohookabove</string>
		<string>O-cy</string>
		<string>Ereversed-cy</string>
		<string>Iu-cy</string>
		<string>Theta</string>
		<string>Omicron</string>
		<string>Omicrontonos</string>
	</array>
	<key>public.kern1.Decyrillic</key>
	<array>
		<string>De-cy</string>
		<string>Tse-cy</string>
		<string>Shcha-cy</string>
		<string>De-cy.loclBGR</string>
	</array>
	<key>public.kern1.Delta</key>
	<array>
		<string>Delta</string>
	</array>
	<key>public.kern1.Djecyrillic</key>
	<array>
		<string>Dje-cy</string>
	</array>
	<key>public.kern1.E</key>
	<array>
		<string>AE</string>
		<string>AEacute</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecedilla</string>
		<string>Ecircumflex</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflextilde</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Etilde</string>
		<string>OE</string>
		<string>Ecircumflexdotbelow</string>
		<string>Ecircumflexhookabove</string>
		<string>Edotbelow</string>
		<string>Ehookabove</string>
		<string>Ie-cy</string>
		<string>Iegrave-cy</string>
		<string>Io-cy</string>
		<string>Epsilon</string>
		<string>Xi</string>
		<string>Epsilontonos</string>
	</array>
	<key>public.kern1.Efcyrillic</key>
	<array>
		<string>Ef-cy</string>
		<string>Ef-cy.loclBGR</string>
	</array>
	<key>public.kern1.F</key>
	<array>
		<string>F</string>
	</array>
	<key>public.kern1.G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcaron</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>G.ss02</string>
		<string>Gbreve.ss02</string>
		<string>Gcaron.ss02</string>
		<string>Gcommaaccent.ss02</string>
		<string>Gdotaccent.ss02</string>
	</array>
	<key>public.kern1.Gamma</key>
	<array>
		<string>Gamma</string>
	</array>
	<key>public.kern1.Gecyrillic</key>
	<array>
		<string>Ge-cy</string>
		<string>Gje-cy</string>
		<string>Gheupturn-cy</string>
	</array>
	<key>public.kern1.H</key>
	<array>
		<string>H</string>
		<string>Hbar</string>
		<string>Hdotbelow</string>
		<string>Hturned</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icaron</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idieresisacute</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>M</string>
		<string>Macute</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ndotaccent</string>
		<string>Ndotbelow</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>Ereversed</string>
		<string>Ncircumflexbelow</string>
		<string>Ii-cy</string>
		<string>Iishort-cy</string>
		<string>Iigrave-cy</string>
		<string>El-cy</string>
		<string>Em-cy</string>
		<string>En-cy</string>
		<string>Pe-cy</string>
		<string>Che-cy</string>
		<string>Sha-cy</string>
		<string>Dzhe-cy</string>
		<string>Yeru-cy</string>
		<string>I-cy</string>
		<string>Yi-cy</string>
		<string>Ia-cy</string>
		<string>Eta</string>
		<string>Iota</string>
		<string>Mu</string>
		<string>Nu</string>
		<string>Pi</string>
		<string>Etatonos</string>
		<string>Iotatonos</string>
		<string>Iotadieresis</string>
	</array>
	<key>public.kern1.Hardsigncyrillic</key>
	<array>
		<string>Softsign-cy</string>
		<string>Hardsign-cy</string>
		<string>Lje-cy</string>
		<string>Nje-cy</string>
		<string>Yat-cy</string>
	</array>
	<key>public.kern1.J</key>
	<array>
		<string>IJ</string>
		<string>J</string>
		<string>Je-cy</string>
	</array>
	<key>public.kern1.K</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>Khook</string>
		<string>Zhe-cy</string>
		<string>Ka-cy</string>
		<string>Kje-cy</string>
		<string>Yusbig-cy</string>
		<string>Kappa</string>
		<string>KaiSymbol</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldotbelow</string>
		<string>Lslash</string>
		<string>Lcircumflexbelow</string>
	</array>
	<key>public.kern1.Omega</key>
	<array>
		<string>Omega</string>
		<string>Omegatonos</string>
	</array>
	<key>public.kern1.P</key>
	<array>
		<string>P</string>
		<string>Thorn</string>
		<string>Er-cy</string>
		<string>Rho</string>
	</array>
	<key>public.kern1.Phi</key>
	<array>
		<string>Phi</string>
	</array>
	<key>public.kern1.Psi</key>
	<array>
		<string>Psi</string>
	</array>
	<key>public.kern1.R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
	</array>
	<key>public.kern1.S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>Sdotbelow</string>
		<string>Germandbls</string>
		<string>S.ss02</string>
		<string>Sacute.ss02</string>
		<string>Scaron.ss02</string>
		<string>Scedilla.ss02</string>
		<string>Scommaaccent.ss02</string>
		<string>Sdotbelow.ss02</string>
		<string>Dze-cy</string>
		<string>dollar</string>
	</array>
	<key>public.kern1.Sigma</key>
	<array>
		<string>Sigma</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>Tdotbelow</string>
		<string>Tcircumflexbelow</string>
		<string>Thook</string>
		<string>Tlinebelow</string>
		<string>Tretroflexhook</string>
		<string>Te-cy</string>
		<string>Tau</string>
	</array>
	<key>public.kern1.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucaron</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Udieresisacute</string>
		<string>Udieresiscaron</string>
		<string>Udieresisgrave</string>
		<string>Udieresismacron</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>Udotbelow</string>
		<string>Uhookabove</string>
	</array>
	<key>public.kern1.V</key>
	<array>
		<string>V</string>
		<string>U-cy</string>
	</array>
	<key>public.kern1.W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>public.kern1.X</key>
	<array>
		<string>X</string>
		<string>Ha-cy</string>
		<string>Chi</string>
	</array>
	<key>public.kern1.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Ytilde</string>
		<string>Ydotbelow</string>
		<string>Yhook</string>
		<string>Yhookabove</string>
		<string>Upsilon</string>
		<string>Upsilontonos</string>
		<string>Upsilondieresis</string>
	</array>
	<key>public.kern1.Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Zdotbelow</string>
		<string>Zeta</string>
	</array>
	<key>public.kern1.a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>abreveacute</string>
		<string>abrevegrave</string>
		<string>abrevetilde</string>
		<string>acaron</string>
		<string>acircumflex</string>
		<string>acircumflexacute</string>
		<string>acircumflexgrave</string>
		<string>acircumflextilde</string>
		<string>adieresis</string>
		<string>adieresismacron</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>h</string>
		<string>hbar</string>
		<string>hdotbelow</string>
		<string>m</string>
		<string>macute</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ndotaccent</string>
		<string>ndotbelow</string>
		<string>ntilde</string>
		<string>a.ss02</string>
		<string>aacute.ss02</string>
		<string>abreve.ss02</string>
		<string>acaron.ss02</string>
		<string>acircumflex.ss02</string>
		<string>adieresis.ss02</string>
		<string>agrave.ss02</string>
		<string>amacron.ss02</string>
		<string>aogonek.ss02</string>
		<string>aring.ss02</string>
		<string>atilde.ss02</string>
		<string>T_h</string>
		<string>f_f_h</string>
		<string>f_h</string>
		<string>Tshe-cy</string>
		<string>a-cy</string>
		<string>tshe-cy</string>
		<string>pe-cy.loclBGR</string>
		<string>te-cy.loclBGR</string>
	</array>
	<key>public.kern1.alpha</key>
	<array>
		<string>alpha</string>
		<string>alphatonos</string>
	</array>
	<key>public.kern1.asciicircum</key>
	<array>
		<string>asterisk</string>
		<string>asciicircum</string>
	</array>
	<key>public.kern1.b</key>
	<array>
		<string>b</string>
		<string>bdotbelow</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocaron</string>
		<string>ocircumflex</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflextilde</string>
		<string>odieresis</string>
		<string>odieresismacron</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>omacronacute</string>
		<string>omacrongrave</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>otildeacute</string>
		<string>p</string>
		<string>thorn</string>
		<string>f_b</string>
		<string>f_f_b</string>
		<string>o-cy</string>
		<string>er-cy</string>
		<string>ef-cy</string>
		<string>ereversed-cy</string>
		<string>iu-cy</string>
		<string>iu-cy.loclBGR</string>
		<string>omicron</string>
		<string>rho</string>
		<string>phi</string>
		<string>omicrontonos</string>
	</array>
	<key>public.kern1.beta</key>
	<array>
		<string>beta</string>
	</array>
	<key>public.kern1.c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>cdotaccent</string>
		<string>es-cy</string>
		<string>cent</string>
	</array>
	<key>public.kern1.chi</key>
	<array>
		<string>chi</string>
	</array>
	<key>public.kern1.colon</key>
	<array>
		<string>colon</string>
		<string>colon.calt</string>
	</array>
	<key>public.kern1.comma</key>
	<array>
		<string>period</string>
		<string>comma</string>
	</array>
	<key>public.kern1.copyright</key>
	<array>
		<string>copyright</string>
	</array>
	<key>public.kern1.d</key>
	<array>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>ddotbelow</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldotbelow</string>
		<string>lslash</string>
		<string>f_f_l</string>
		<string>fl</string>
	</array>
	<key>public.kern1.dcroat</key>
	<array>
		<string>dcroat</string>
	</array>
	<key>public.kern1.decyrillic</key>
	<array>
		<string>de-cy</string>
		<string>tse-cy</string>
		<string>shcha-cy</string>
		<string>tse-cy.loclBGR</string>
		<string>shcha-cy.loclBGR</string>
	</array>
	<key>public.kern1.delta</key>
	<array>
		<string>delta</string>
	</array>
	<key>public.kern1.e</key>
	<array>
		<string>ae</string>
		<string>aeacute</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecedilla</string>
		<string>ecircumflex</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflextilde</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>etilde</string>
		<string>oe</string>
		<string>e.ss02</string>
		<string>eacute.ss02</string>
		<string>ecaron.ss02</string>
		<string>ecircumflex.ss02</string>
		<string>edieresis.ss02</string>
		<string>edotaccent.ss02</string>
		<string>egrave.ss02</string>
		<string>emacron.ss02</string>
		<string>eogonek.ss02</string>
		<string>ie-cy</string>
		<string>iegrave-cy</string>
		<string>io-cy</string>
	</array>
	<key>public.kern1.ecyrillic</key>
	<array>
		<string>e-cy</string>
	</array>
	<key>public.kern1.el-cyBGR</key>
	<array>
		<string>el-cy.loclBGR</string>
	</array>
	<key>public.kern1.eng</key>
	<array>
		<string>eng</string>
		<string>dje-cy</string>
		<string>eta</string>
		<string>etatonos</string>
	</array>
	<key>public.kern1.epsilon</key>
	<array>
		<string>epsilon</string>
		<string>epsilontonos</string>
	</array>
	<key>public.kern1.equal</key>
	<array>
		<string>equal</string>
		<string>notequal</string>
		<string>approxequal</string>
		<string>asciitilde</string>
	</array>
	<key>public.kern1.f</key>
	<array>
		<string>f</string>
		<string>longs</string>
		<string>f_f</string>
		<string>longs_longs</string>
	</array>
	<key>public.kern1.five</key>
	<array>
		<string>five</string>
		<string>five.osf</string>
	</array>
	<key>public.kern1.four</key>
	<array>
		<string>four</string>
	</array>
	<key>public.kern1.four.osf</key>
	<array>
		<string>four.osf</string>
	</array>
	<key>public.kern1.g</key>
	<array>
		<string>g.ss02</string>
		<string>gbreve.ss02</string>
		<string>gcommaaccent.ss02</string>
		<string>gdotaccent.ss02</string>
		<string>g.ss04</string>
		<string>gbreve.ss04</string>
		<string>gcommaaccent.ss04</string>
		<string>gdotaccent.ss04</string>
		<string>de-cy.loclBGR</string>
	</array>
	<key>public.kern1.gamma</key>
	<array>
		<string>gamma</string>
	</array>
	<key>public.kern1.ge-cyBGR</key>
	<array>
		<string>ge-cy.loclBGR</string>
	</array>
	<key>public.kern1.gecyrillic</key>
	<array>
		<string>ge-cy</string>
		<string>gje-cy</string>
		<string>gheupturn-cy</string>
	</array>
	<key>public.kern1.gone</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
	</array>
	<key>public.kern1.hyphen</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>public.kern1.i</key>
	<array>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>icaron</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idieresisacute</string>
		<string>idotaccent</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>f_f_i</string>
		<string>f_f_j</string>
		<string>f_j</string>
		<string>fi</string>
		<string>i-cy</string>
		<string>yi-cy</string>
		<string>je-cy</string>
	</array>
	<key>public.kern1.iota</key>
	<array>
		<string>iota</string>
		<string>iotatonos</string>
		<string>iotadieresis</string>
		<string>iotadieresistonos</string>
	</array>
	<key>public.kern1.k</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>khook</string>
		<string>f_f_k</string>
		<string>f_k</string>
		<string>zhe-cy</string>
		<string>ka-cy</string>
		<string>kje-cy</string>
		<string>zhe-cy.loclBGR</string>
		<string>ka-cy.loclBGR</string>
		<string>kappa</string>
	</array>
	<key>public.kern1.kaiSymbol</key>
	<array>
		<string>kaiSymbol</string>
	</array>
	<key>public.kern1.lambda</key>
	<array>
		<string>lambda</string>
	</array>
	<key>public.kern1.lessequal</key>
	<array>
		<string>greaterequal</string>
		<string>lessequal</string>
		<string>plusminus</string>
	</array>
	<key>public.kern1.nu</key>
	<array>
		<string>nu</string>
	</array>
	<key>public.kern1.omega</key>
	<array>
		<string>omega</string>
		<string>omegatonos</string>
	</array>
	<key>public.kern1.one</key>
	<array>
		<string>one</string>
	</array>
	<key>public.kern1.one.osf</key>
	<array>
		<string>one.osf</string>
	</array>
	<key>public.kern1.parenleft</key>
	<array>
		<string>parenleft</string>
		<string>bracketleft</string>
	</array>
	<key>public.kern1.pi</key>
	<array>
		<string>pi</string>
	</array>
	<key>public.kern1.plus</key>
	<array>
		<string>plus</string>
		<string>minus</string>
		<string>divide</string>
	</array>
	<key>public.kern1.q</key>
	<array>
		<string>q</string>
		<string>a.ss01</string>
		<string>aacute.ss01</string>
		<string>abreve.ss01</string>
		<string>acaron.ss01</string>
		<string>acircumflex.ss01</string>
		<string>adieresis.ss01</string>
		<string>agrave.ss01</string>
		<string>amacron.ss01</string>
		<string>aogonek.ss01</string>
		<string>aring.ss01</string>
		<string>atilde.ss01</string>
	</array>
	<key>public.kern1.quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern1.r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>public.kern1.s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
		<string>sdotbelow</string>
		<string>s.ss02</string>
		<string>sacute.ss02</string>
		<string>scaron.ss02</string>
		<string>scedilla.ss02</string>
		<string>scommaaccent.ss02</string>
		<string>longs_s</string>
		<string>dze-cy</string>
	</array>
	<key>public.kern1.seven</key>
	<array>
		<string>seven</string>
	</array>
	<key>public.kern1.seven.osf</key>
	<array>
		<string>seven.osf</string>
	</array>
	<key>public.kern1.sigma</key>
	<array>
		<string>sigma</string>
	</array>
	<key>public.kern1.sigmafinal</key>
	<array>
		<string>sigmafinal</string>
	</array>
	<key>public.kern1.six</key>
	<array>
		<string>be-cy</string>
		<string>be-cy.loclSRB</string>
		<string>six</string>
		<string>six.osf</string>
	</array>
	<key>public.kern1.softsign-cyBGR</key>
	<array>
		<string>softsign-cy.loclBGR</string>
		<string>hardsign-cy.loclBGR</string>
	</array>
	<key>public.kern1.softsigncyrillic</key>
	<array>
		<string>softsign-cy</string>
		<string>hardsign-cy</string>
		<string>lje-cy</string>
		<string>nje-cy</string>
		<string>yat-cy</string>
	</array>
	<key>public.kern1.t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>tdotbelow</string>
		<string>f_f_t</string>
		<string>f_t</string>
	</array>
	<key>public.kern1.tau</key>
	<array>
		<string>tau</string>
	</array>
	<key>public.kern1.tecyrillic</key>
	<array>
		<string>te-cy</string>
	</array>
	<key>public.kern1.theta</key>
	<array>
		<string>theta</string>
	</array>
	<key>public.kern1.three</key>
	<array>
		<string>germandbls</string>
		<string>ve-cy.loclBGR</string>
		<string>eight</string>
		<string>eight.osf</string>
	</array>
	<key>public.kern1.two</key>
	<array>
		<string>two</string>
	</array>
	<key>public.kern1.two.osf</key>
	<array>
		<string>two.osf</string>
	</array>
	<key>public.kern1.u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucaron</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>udieresisacute</string>
		<string>udieresiscaron</string>
		<string>udieresisgrave</string>
		<string>udieresismacron</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>ii-cy</string>
		<string>iishort-cy</string>
		<string>iigrave-cy</string>
		<string>el-cy</string>
		<string>em-cy</string>
		<string>en-cy</string>
		<string>pe-cy</string>
		<string>che-cy</string>
		<string>sha-cy</string>
		<string>dzhe-cy</string>
		<string>yeru-cy</string>
		<string>ia-cy</string>
		<string>ii-cy.loclBGR</string>
		<string>iishort-cy.loclBGR</string>
		<string>iigrave-cy.loclBGR</string>
		<string>sha-cy.loclBGR</string>
		<string>a-cy.ss01</string>
		<string>mu</string>
		<string>micro</string>
	</array>
	<key>public.kern1.underscore</key>
	<array>
		<string>underscore</string>
	</array>
	<key>public.kern1.upsilon</key>
	<array>
		<string>upsilon</string>
		<string>psi</string>
		<string>upsilontonos</string>
		<string>upsilondieresis</string>
		<string>upsilondieresistonos</string>
	</array>
	<key>public.kern1.v</key>
	<array>
		<string>v</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>ytilde</string>
		<string>u-cy</string>
	</array>
	<key>public.kern1.vecyrillic</key>
	<array>
		<string>ve-cy</string>
		<string>ze-cy</string>
	</array>
	<key>public.kern1.w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>public.kern1.x</key>
	<array>
		<string>x</string>
		<string>ha-cy</string>
	</array>
	<key>public.kern1.xi</key>
	<array>
		<string>xi</string>
	</array>
	<key>public.kern1.z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>zdotbelow</string>
	</array>
	<key>public.kern1.ze-cyBGR</key>
	<array>
		<string>ze-cy.loclBGR</string>
	</array>
	<key>public.kern1.zero</key>
	<array>
		<string>zero</string>
		<string>nine</string>
		<string>zero.zero</string>
		<string>nine.osf</string>
	</array>
	<key>public.kern1.zero.osf</key>
	<array>
		<string>zero.osf</string>
		<string>zero.osf.zero</string>
	</array>
	<key>public.kern1.zeta</key>
	<array>
		<string>zeta</string>
	</array>
	<key>public.kern1.zhecyrillic</key>
	<array>
		<string>yusbig-cy</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Abreveacute</string>
		<string>Abrevegrave</string>
		<string>Abrevetilde</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflextilde</string>
		<string>Adieresis</string>
		<string>Adieresismacron</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>Abrevedotbelow</string>
		<string>Abrevehookabove</string>
		<string>Acircumflexdotbelow</string>
		<string>Acircumflexhookabove</string>
		<string>Adotbelow</string>
		<string>A-cy</string>
		<string>El-cy.loclBGR</string>
		<string>Alpha</string>
		<string>Lambda</string>
	</array>
	<key>public.kern2.Alphatonos</key>
	<array>
		<string>Alphatonos</string>
	</array>
	<key>public.kern2.B</key>
	<array>
		<string>B</string>
		<string>Bdotbelow</string>
		<string>D</string>
		<string>Ddotbelow</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecedilla</string>
		<string>Ecircumflex</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflextilde</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Etilde</string>
		<string>F</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hdotbelow</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Icaron</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idieresisacute</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>Khook</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldotbelow</string>
		<string>Lslash</string>
		<string>M</string>
		<string>Macute</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ndotaccent</string>
		<string>Ndotbelow</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>Thorn</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Dcircumflexbelow</string>
		<string>Dlinebelow</string>
		<string>Ecircumflexdotbelow</string>
		<string>Ecircumflexhookabove</string>
		<string>Edotbelow</string>
		<string>Ehookabove</string>
		<string>Lcircumflexbelow</string>
		<string>Ncircumflexbelow</string>
		<string>Be-cy</string>
		<string>Ve-cy</string>
		<string>Ge-cy</string>
		<string>Gje-cy</string>
		<string>Gheupturn-cy</string>
		<string>Ie-cy</string>
		<string>Iegrave-cy</string>
		<string>Io-cy</string>
		<string>Ii-cy</string>
		<string>Iishort-cy</string>
		<string>Iigrave-cy</string>
		<string>Ka-cy</string>
		<string>Kje-cy</string>
		<string>Em-cy</string>
		<string>En-cy</string>
		<string>Pe-cy</string>
		<string>Er-cy</string>
		<string>Tse-cy</string>
		<string>Sha-cy</string>
		<string>Shcha-cy</string>
		<string>Dzhe-cy</string>
		<string>Softsign-cy</string>
		<string>Yeru-cy</string>
		<string>Nje-cy</string>
		<string>I-cy</string>
		<string>Yi-cy</string>
		<string>Iu-cy</string>
		<string>Beta</string>
		<string>Gamma</string>
		<string>Epsilon</string>
		<string>Eta</string>
		<string>Iota</string>
		<string>Kappa</string>
		<string>Mu</string>
		<string>Nu</string>
		<string>Pi</string>
		<string>Rho</string>
		<string>Iotadieresis</string>
		<string>KaiSymbol</string>
		<string>baht</string>
	</array>
	<key>public.kern2.C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcaron</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocaron</string>
		<string>Ocircumflex</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflextilde</string>
		<string>Odieresis</string>
		<string>Odieresismacron</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Omacronacute</string>
		<string>Omacrongrave</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>Otildeacute</string>
		<string>OE</string>
		<string>Q</string>
		<string>G.ss02</string>
		<string>Gbreve.ss02</string>
		<string>Gcaron.ss02</string>
		<string>Gcommaaccent.ss02</string>
		<string>Gdotaccent.ss02</string>
		<string>Q.ss03</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ocircumflexhookabove</string>
		<string>Odotbelow</string>
		<string>Ohookabove</string>
		<string>O-cy</string>
		<string>Es-cy</string>
		<string>E-cy</string>
		<string>Theta</string>
		<string>Omicron</string>
	</array>
	<key>public.kern2.Checyrillic</key>
	<array>
		<string>Hturned</string>
		<string>Che-cy</string>
	</array>
	<key>public.kern2.D</key>
	<array>
		<string>Dcaron</string>
	</array>
	<key>public.kern2.De-cyBGR</key>
	<array>
		<string>De-cy.loclBGR</string>
	</array>
	<key>public.kern2.Decyrillic</key>
	<array>
		<string>De-cy</string>
	</array>
	<key>public.kern2.Delta</key>
	<array>
		<string>Delta</string>
	</array>
	<key>public.kern2.Efcyrillic</key>
	<array>
		<string>Ef-cy</string>
		<string>Ef-cy.loclBGR</string>
	</array>
	<key>public.kern2.Elcyrillic</key>
	<array>
		<string>El-cy</string>
		<string>Lje-cy</string>
	</array>
	<key>public.kern2.Ereversedcyrillic</key>
	<array>
		<string>Ereversed-cy</string>
	</array>
	<key>public.kern2.Etatonos</key>
	<array>
		<string>Epsilontonos</string>
		<string>Etatonos</string>
		<string>Iotatonos</string>
	</array>
	<key>public.kern2.Eth</key>
	<array>
		<string>Eth</string>
		<string>Dcroat</string>
	</array>
	<key>public.kern2.Hardsigncyrillic</key>
	<array>
		<string>Hardsign-cy</string>
	</array>
	<key>public.kern2.Iacyrillic</key>
	<array>
		<string>Ia-cy</string>
	</array>
	<key>public.kern2.J</key>
	<array>
		<string>J</string>
		<string>Je-cy</string>
	</array>
	<key>public.kern2.Omega</key>
	<array>
		<string>Omega</string>
	</array>
	<key>public.kern2.Omegatonos</key>
	<array>
		<string>Omegatonos</string>
	</array>
	<key>public.kern2.Omicrontonos</key>
	<array>
		<string>Omicrontonos</string>
	</array>
	<key>public.kern2.Phi</key>
	<array>
		<string>Phi</string>
	</array>
	<key>public.kern2.Psi</key>
	<array>
		<string>Psi</string>
	</array>
	<key>public.kern2.S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>Sdotbelow</string>
		<string>Germandbls</string>
		<string>S.ss02</string>
		<string>Sacute.ss02</string>
		<string>Scaron.ss02</string>
		<string>Scedilla.ss02</string>
		<string>Scommaaccent.ss02</string>
		<string>Sdotbelow.ss02</string>
		<string>Dze-cy</string>
		<string>dollar</string>
	</array>
	<key>public.kern2.Sigma</key>
	<array>
		<string>Sigma</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>Tdotbelow</string>
		<string>Tcircumflexbelow</string>
		<string>Thook</string>
		<string>Tlinebelow</string>
		<string>Tretroflexhook</string>
		<string>T_h</string>
		<string>Te-cy</string>
		<string>Tshe-cy</string>
		<string>Dje-cy</string>
		<string>Tau</string>
	</array>
	<key>public.kern2.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucaron</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Udieresisacute</string>
		<string>Udieresiscaron</string>
		<string>Udieresisgrave</string>
		<string>Udieresismacron</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>Udotbelow</string>
		<string>Uhookabove</string>
		<string>Uhorn</string>
		<string>Uhornacute</string>
		<string>Uhorndotbelow</string>
		<string>Uhorngrave</string>
		<string>Uhornhookabove</string>
		<string>Uhorntilde</string>
	</array>
	<key>public.kern2.Ucyrillic</key>
	<array>
		<string>U-cy</string>
	</array>
	<key>public.kern2.Upsilontonos</key>
	<array>
		<string>Upsilontonos</string>
	</array>
	<key>public.kern2.V</key>
	<array>
		<string>V</string>
	</array>
	<key>public.kern2.W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>public.kern2.X</key>
	<array>
		<string>X</string>
		<string>Ha-cy</string>
		<string>Chi</string>
	</array>
	<key>public.kern2.Xi</key>
	<array>
		<string>Xi</string>
	</array>
	<key>public.kern2.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Ytilde</string>
		<string>Ydotbelow</string>
		<string>Yhook</string>
		<string>Yhookabove</string>
		<string>Upsilon</string>
		<string>Upsilondieresis</string>
	</array>
	<key>public.kern2.Yatcyrillic</key>
	<array>
		<string>Yat-cy</string>
	</array>
	<key>public.kern2.Yusbig-cy</key>
	<array>
		<string>Yusbig-cy</string>
	</array>
	<key>public.kern2.Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Zdotbelow</string>
		<string>Zeta</string>
	</array>
	<key>public.kern2.Zhecyrillic</key>
	<array>
		<string>Zhe-cy</string>
	</array>
	<key>public.kern2.a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>abreveacute</string>
		<string>abrevegrave</string>
		<string>abrevetilde</string>
		<string>acaron</string>
		<string>acircumflex</string>
		<string>acircumflexacute</string>
		<string>acircumflexgrave</string>
		<string>acircumflextilde</string>
		<string>adieresis</string>
		<string>adieresismacron</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>a.ss02</string>
		<string>aacute.ss02</string>
		<string>abreve.ss02</string>
		<string>acaron.ss02</string>
		<string>acircumflex.ss02</string>
		<string>adieresis.ss02</string>
		<string>agrave.ss02</string>
		<string>amacron.ss02</string>
		<string>aogonek.ss02</string>
		<string>aring.ss02</string>
		<string>atilde.ss02</string>
		<string>a-cy</string>
	</array>
	<key>public.kern2.asciicircum</key>
	<array>
		<string>asterisk</string>
		<string>asciicircum</string>
	</array>
	<key>public.kern2.b</key>
	<array>
		<string>b</string>
		<string>bdotbelow</string>
		<string>h</string>
		<string>hdotbelow</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>khook</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldotbelow</string>
		<string>lslash</string>
		<string>ka-cy.loclBGR</string>
		<string>iu-cy.loclBGR</string>
	</array>
	<key>public.kern2.be-cySRB</key>
	<array>
		<string>be-cy.loclSRB</string>
	</array>
	<key>public.kern2.c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>ddotbelow</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecedilla</string>
		<string>ecircumflex</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflextilde</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>etilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocaron</string>
		<string>ocircumflex</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflextilde</string>
		<string>odieresis</string>
		<string>odieresismacron</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>omacronacute</string>
		<string>omacrongrave</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>otildeacute</string>
		<string>oe</string>
		<string>q</string>
		<string>a.ss01</string>
		<string>aacute.ss01</string>
		<string>abreve.ss01</string>
		<string>acaron.ss01</string>
		<string>acircumflex.ss01</string>
		<string>adieresis.ss01</string>
		<string>agrave.ss01</string>
		<string>amacron.ss01</string>
		<string>aogonek.ss01</string>
		<string>aring.ss01</string>
		<string>atilde.ss01</string>
		<string>e.ss02</string>
		<string>eacute.ss02</string>
		<string>ecaron.ss02</string>
		<string>ecircumflex.ss02</string>
		<string>edieresis.ss02</string>
		<string>edotaccent.ss02</string>
		<string>egrave.ss02</string>
		<string>emacron.ss02</string>
		<string>eogonek.ss02</string>
		<string>ie-cy</string>
		<string>iegrave-cy</string>
		<string>io-cy</string>
		<string>o-cy</string>
		<string>es-cy</string>
		<string>ef-cy</string>
		<string>e-cy</string>
		<string>a-cy.ss01</string>
		<string>alpha</string>
		<string>omicron</string>
		<string>sigmafinal</string>
		<string>sigma</string>
		<string>phi</string>
		<string>omicrontonos</string>
		<string>alphatonos</string>
		<string>cent</string>
	</array>
	<key>public.kern2.checyrillic</key>
	<array>
		<string>che-cy</string>
	</array>
	<key>public.kern2.chi</key>
	<array>
		<string>chi</string>
	</array>
	<key>public.kern2.colon</key>
	<array>
		<string>colon</string>
		<string>colon.calt</string>
	</array>
	<key>public.kern2.comma</key>
	<array>
		<string>period</string>
		<string>comma</string>
	</array>
	<key>public.kern2.copyright</key>
	<array>
		<string>copyright</string>
	</array>
	<key>public.kern2.decyrillic</key>
	<array>
		<string>de-cy</string>
	</array>
	<key>public.kern2.delta</key>
	<array>
		<string>delta</string>
	</array>
	<key>public.kern2.eight</key>
	<array>
		<string>eight</string>
		<string>eight.osf</string>
	</array>
	<key>public.kern2.el-cyBGR</key>
	<array>
		<string>el-cy.loclBGR</string>
	</array>
	<key>public.kern2.elcyrillic</key>
	<array>
		<string>el-cy</string>
		<string>lje-cy</string>
	</array>
	<key>public.kern2.epsilon</key>
	<array>
		<string>epsilon</string>
		<string>epsilontonos</string>
	</array>
	<key>public.kern2.equal</key>
	<array>
		<string>equal</string>
		<string>notequal</string>
		<string>approxequal</string>
		<string>asciitilde</string>
	</array>
	<key>public.kern2.ereversedcyrillic</key>
	<array>
		<string>ereversed-cy</string>
	</array>
	<key>public.kern2.eta</key>
	<array>
		<string>eta</string>
		<string>etatonos</string>
		<string>kaiSymbol</string>
	</array>
	<key>public.kern2.f</key>
	<array>
		<string>f</string>
		<string>longs</string>
		<string>f_b</string>
		<string>f_f</string>
		<string>f_f_b</string>
		<string>f_f_h</string>
		<string>f_f_i</string>
		<string>f_f_j</string>
		<string>f_f_k</string>
		<string>f_f_l</string>
		<string>f_f_t</string>
		<string>f_h</string>
		<string>f_j</string>
		<string>f_k</string>
		<string>f_t</string>
		<string>fi</string>
		<string>fl</string>
		<string>longs_s</string>
		<string>longs_longs</string>
	</array>
	<key>public.kern2.five</key>
	<array>
		<string>five</string>
		<string>five.osf</string>
	</array>
	<key>public.kern2.four</key>
	<array>
		<string>four</string>
	</array>
	<key>public.kern2.four.osf</key>
	<array>
		<string>four.osf</string>
	</array>
	<key>public.kern2.g</key>
	<array>
		<string>g.ss02</string>
		<string>gbreve.ss02</string>
		<string>gcommaaccent.ss02</string>
		<string>gdotaccent.ss02</string>
		<string>g.ss04</string>
		<string>gbreve.ss04</string>
		<string>gcommaaccent.ss04</string>
		<string>gdotaccent.ss04</string>
		<string>de-cy.loclBGR</string>
	</array>
	<key>public.kern2.gamma</key>
	<array>
		<string>gamma</string>
	</array>
	<key>public.kern2.ge-cyBGR</key>
	<array>
		<string>ge-cy.loclBGR</string>
	</array>
	<key>public.kern2.gone</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
	</array>
	<key>public.kern2.hardsigncyrillic</key>
	<array>
		<string>hardsign-cy</string>
		<string>hardsign-cy.loclBGR</string>
	</array>
	<key>public.kern2.hbar</key>
	<array>
		<string>hbar</string>
		<string>tshe-cy</string>
		<string>dje-cy</string>
	</array>
	<key>public.kern2.hyphen</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>public.kern2.i</key>
	<array>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>icaron</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idieresisacute</string>
		<string>idotaccent</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>i-cy</string>
		<string>yi-cy</string>
	</array>
	<key>public.kern2.iacyrillic</key>
	<array>
		<string>ia-cy</string>
	</array>
	<key>public.kern2.j</key>
	<array>
		<string>j</string>
		<string>je-cy</string>
		<string>integral</string>
	</array>
	<key>public.kern2.lambda</key>
	<array>
		<string>lambda</string>
	</array>
	<key>public.kern2.lessequal</key>
	<array>
		<string>greaterequal</string>
		<string>lessequal</string>
		<string>plusminus</string>
	</array>
	<key>public.kern2.m</key>
	<array>
		<string>kgreenlandic</string>
		<string>m</string>
		<string>macute</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ndotaccent</string>
		<string>ndotbelow</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>p</string>
		<string>thorn</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>ve-cy</string>
		<string>ge-cy</string>
		<string>gje-cy</string>
		<string>gheupturn-cy</string>
		<string>ii-cy</string>
		<string>iishort-cy</string>
		<string>iigrave-cy</string>
		<string>ka-cy</string>
		<string>kje-cy</string>
		<string>em-cy</string>
		<string>en-cy</string>
		<string>pe-cy</string>
		<string>er-cy</string>
		<string>tse-cy</string>
		<string>sha-cy</string>
		<string>shcha-cy</string>
		<string>dzhe-cy</string>
		<string>softsign-cy</string>
		<string>yeru-cy</string>
		<string>nje-cy</string>
		<string>iu-cy</string>
		<string>pe-cy.loclBGR</string>
		<string>te-cy.loclBGR</string>
		<string>softsign-cy.loclBGR</string>
		<string>kappa</string>
		<string>mu</string>
		<string>micro</string>
	</array>
	<key>public.kern2.multiply</key>
	<array>
		<string>multiply</string>
	</array>
	<key>public.kern2.nine</key>
	<array>
		<string>nine</string>
		<string>nine.osf</string>
	</array>
	<key>public.kern2.omega</key>
	<array>
		<string>omega</string>
		<string>omegatonos</string>
	</array>
	<key>public.kern2.one</key>
	<array>
		<string>one</string>
	</array>
	<key>public.kern2.one.osf</key>
	<array>
		<string>one.osf</string>
	</array>
	<key>public.kern2.parenright</key>
	<array>
		<string>parenright</string>
		<string>bracketright</string>
	</array>
	<key>public.kern2.pi</key>
	<array>
		<string>pi</string>
	</array>
	<key>public.kern2.plus</key>
	<array>
		<string>plus</string>
		<string>minus</string>
		<string>divide</string>
	</array>
	<key>public.kern2.quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern2.rho</key>
	<array>
		<string>rho</string>
	</array>
	<key>public.kern2.s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
		<string>sdotbelow</string>
		<string>s.ss02</string>
		<string>sacute.ss02</string>
		<string>scaron.ss02</string>
		<string>scedilla.ss02</string>
		<string>scommaaccent.ss02</string>
		<string>dze-cy</string>
	</array>
	<key>public.kern2.seven</key>
	<array>
		<string>seven</string>
	</array>
	<key>public.kern2.seven.osf</key>
	<array>
		<string>seven.osf</string>
	</array>
	<key>public.kern2.t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>tdotbelow</string>
	</array>
	<key>public.kern2.tau</key>
	<array>
		<string>tau</string>
	</array>
	<key>public.kern2.tecyrillic</key>
	<array>
		<string>te-cy</string>
	</array>
	<key>public.kern2.theta</key>
	<array>
		<string>theta</string>
	</array>
	<key>public.kern2.three</key>
	<array>
		<string>Ze-cy</string>
		<string>three</string>
		<string>three.osf</string>
	</array>
	<key>public.kern2.two</key>
	<array>
		<string>two</string>
	</array>
	<key>public.kern2.two.osf</key>
	<array>
		<string>two.osf</string>
	</array>
	<key>public.kern2.u</key>
	<array>
		<string>germandbls</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucaron</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>udieresisacute</string>
		<string>udieresiscaron</string>
		<string>udieresisgrave</string>
		<string>udieresismacron</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>ii-cy.loclBGR</string>
		<string>iishort-cy.loclBGR</string>
		<string>iigrave-cy.loclBGR</string>
		<string>tse-cy.loclBGR</string>
		<string>sha-cy.loclBGR</string>
		<string>shcha-cy.loclBGR</string>
		<string>beta</string>
		<string>iota</string>
		<string>upsilon</string>
		<string>psi</string>
		<string>iotatonos</string>
		<string>iotadieresis</string>
		<string>iotadieresistonos</string>
		<string>upsilontonos</string>
		<string>upsilondieresis</string>
		<string>upsilondieresistonos</string>
	</array>
	<key>public.kern2.underscore</key>
	<array>
		<string>underscore</string>
	</array>
	<key>public.kern2.v</key>
	<array>
		<string>v</string>
		<string>nu</string>
	</array>
	<key>public.kern2.ve-cyBGR</key>
	<array>
		<string>ve-cy.loclBGR</string>
	</array>
	<key>public.kern2.w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>public.kern2.x</key>
	<array>
		<string>x</string>
		<string>ha-cy</string>
	</array>
	<key>public.kern2.xi</key>
	<array>
		<string>xi</string>
	</array>
	<key>public.kern2.y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>ytilde</string>
		<string>u-cy</string>
	</array>
	<key>public.kern2.yatcyrillic</key>
	<array>
		<string>yat-cy</string>
	</array>
	<key>public.kern2.yusbig-cy</key>
	<array>
		<string>yusbig-cy</string>
	</array>
	<key>public.kern2.z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>zdotbelow</string>
	</array>
	<key>public.kern2.ze-cyBGR</key>
	<array>
		<string>ze-cy.loclBGR</string>
	</array>
	<key>public.kern2.zecyrillic</key>
	<array>
		<string>ze-cy</string>
	</array>
	<key>public.kern2.zero</key>
	<array>
		<string>be-cy</string>
		<string>zero</string>
		<string>six</string>
		<string>zero.zero</string>
		<string>six.osf</string>
	</array>
	<key>public.kern2.zero.osf</key>
	<array>
		<string>zero.osf</string>
		<string>zero.osf.zero</string>
	</array>
	<key>public.kern2.zeta</key>
	<array>
		<string>zeta</string>
	</array>
	<key>public.kern2.zhecyrillic</key>
	<array>
		<string>zhe-cy</string>
		<string>zhe-cy.loclBGR</string>
	</array>
</dict>
</plist>
