<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C.sc</key>
	<string>C_.sc.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>De-cy</key>
	<string>D_e-cy.glif</string>
	<key>El-cy</key>
	<string>E_l-cy.glif</string>
	<key>El-cy.loclBGR</key>
	<string>E_l-cy.loclB_G_R_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.ss02</key>
	<string>G_.ss02.glif</string>
	<key>G.ss02.sc</key>
	<string>G_.ss02.sc.glif</string>
	<key>Germandbls</key>
	<string>G_ermandbls.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J.sc</key>
	<string>J_.sc.glif</string>
	<key>Omega</key>
	<string>O_mega.glif</string>
	<key>Omega.sc</key>
	<string>O_mega.sc.glif</string>
	<key>Oslash.sc</key>
	<string>O_slash.sc.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.sc</key>
	<string>Q_.sc.glif</string>
	<key>Q.ss03</key>
	<string>Q_.ss03.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S.ss02</key>
	<string>S_.ss02.glif</string>
	<key>S.ss02.sc</key>
	<string>S_.ss02.sc.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Ze-cy</key>
	<string>Z_e-cy.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>clubBlackSuit</key>
	<string>clubB_lackS_uit.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e.ss02</key>
	<string>e.ss02.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.dnom</key>
	<string>eight.dnom.glif</string>
	<key>eightinferior</key>
	<string>eightinferior.glif</string>
	<key>f_b</key>
	<string>f_b.glif</string>
	<key>f_f_b</key>
	<string>f_f_b.glif</string>
	<key>f_f_h</key>
	<string>f_f_h.glif</string>
	<key>f_f_i</key>
	<string>f_f_i.glif</string>
	<key>f_f_k</key>
	<string>f_f_k.glif</string>
	<key>f_f_t</key>
	<string>f_f_t.glif</string>
	<key>f_h</key>
	<string>f_h.glif</string>
	<key>f_k</key>
	<string>f_k.glif</string>
	<key>f_t</key>
	<string>f_t.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>g.ss02</key>
	<string>g.ss02.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>phi</key>
	<string>phi.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>s.ss02</key>
	<string>s.ss02.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>softsign-cy</key>
	<string>softsign-cy.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>three.dnom</key>
	<string>three.dnom.glif</string>
	<key>yat-cy</key>
	<string>yat-cy.glif</string>
</dict>
</plist>
